{% extends 'base.html' %}
{% load staticfiles %}



{% block body %}
    <br> <br> <br> <br><br> <br> <br>
    <div class="super_container">
    <div class="container">
<div class="row">

    <div class="col-sm-12" style="padding-left: 20%;padding-right: 20%">

        <div class="row">
    <table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th>no.</th>
        <th>Item</th>
          <th>Item Name</th>
        <th>Price</th>
      </tr>
      {% for item in order.get_cart_items %}
        <tr>
          <td>{{ forloop.counter }}</td>
            <td> <img src="{{ item.product.product_image.url }}" style="width: 75px;height: 75px"></td>
          <td>
            {{ item.product.product_name }}
            <span class="pull-right">
              <a href="{% url 'delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" onclick="return confirm_delete();">
                <i class="fa fa-trash"></i>
              </a>
            </span>
          </td>
          <td>{{ item.product.product_price }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3> You have not added any items yet.</td>
        </tr>
      {% endfor %}
      <tr>
        {% if order.get_cart_total != None %}
        <td colspan=3>
          <strong class="pull-right">Order Total:</strong>
        </td>

        <td colspan= 1>
          <strong>{{ order.get_cart_total }}</strong>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td colspan=2 >
          <a href="{% url 'home' %}" class="btn btn-warning pull-left">
            {% if order %}Continue Shopping{% else %}Add Items to Cart {% endif %}
          </a>
        </td>
        <td colspan=2>
          {% if order.get_cart_items %}
            <a href="{% url 'checkout' %}" class="pull-right btn btn-primary">Proceed To Checkout</a>
          {% endif %}
        </td>
      </tr>
    </table>

   </div>
 </section>
    </div>
</div>
    </div>
    </div>
{% endblock %}

<script>
  function confirm_delete(){
    return confirm("Do you want to remove this item from cart?");
  }
  </script>