{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{%  block body %}
<br> <br> <br> <br><br> <br> <br>
    <div class="super_container">
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="padding-left: 30%;padding-right: 30%">
       <form method="post" novalidate>
  {% csrf_token %}

  {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}

          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}

        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">
          {{ field.help_text }}
        </small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-success">SignUp</button>
</form>
</div>
    </div>
</div>
    </div>
{% endblock %}


